

{% load static %}


    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img class="img_pie" src="{% static 'portfolio/yo.jpg' %}" alt="Logo de SLee Dw">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, ipsa?</p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="">
                    <a href="#"><i  class="fab fa-facebook"></i></a>
                    <a href="#"><i  class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=593{{ project.url }}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Facturas%20Electrónicas"><i  class="fab fa-whatsapp"></i></a>
                    
                    
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small><b>Print & Soft Intriago</b> - &copy; Todos los Derechos Reservados.</small>
        </div>
    </footer>
